OWNER_NAME="🗽TOpPLUG🗽"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "MASTER-MD"
IMAGE_MENU= "https://i.imgur.com/Gw7jtD0.jpeg"
NUMERO_OWNER= ""
OWNER_NAME= "TOpPLUG PIRATES"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
